@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --white: #fff;
  --grey: #b9dfff;
  --lime: #f5ff4f;
  --green: #43ff89;
  --lightgreen: #96FD5E;
  --purple: #e37aff;
  --cyan: #7af0ff;
  --orange: #ffA086;
  --highlight: #FD965E;
  --blur_1: 1px;
  --blur_2: 12px;
}

.white {
  color: #FFFFFF;
  text-shadow: 0px 0px var(--blur_2) var(--white), 0px 0px var(--blur_1) var(--white);
}

.grey {
  color: #B9DFFF;
  text-shadow: 0px 0px var(--blur_2) var(--grey), 0px 0px var(--blur_1) var(--grey);
}

.lime {
  color: #F5FF4F;
  text-shadow: 0px 0px var(--blur_2) var(--lime), 0px 0px var(--blur_1) var(--lime);
}

.green {
  color: #43FF89;
  text-shadow: 0px 0px var(--blur_2) var(--green), 0px 0px var(--blur_1) var(--green);
}

.lightgreen {
  color: var(--lightgreen);
  text-shadow: 0px 0px var(--blur_2) var(--lightgreen), 0px 0px var(--blur_1) var(--green);
}

.purple {
  color: #E37AFF;
  text-shadow: 0px 0px var(--blur_2) var(--purple), 0px 0px var(--blur_1) var(--purple);
}

.cyan {
  color: #7AF0FF;
  text-shadow: 0px 0px var(--blur_2) var(--grey), 0px 0px var(--blur_1) var(--cyan);
}

.orange {
  color: #FFA086;
  text-shadow: 0px 0px var(--blur_2) var(--orange), 0px 0px var(--blur_1) var(--orange);
}

.highlight {
  text-shadow: 0px 1px 2px #fd965e, 0px -1px 2px #fd965e, 1px 0px 2px #fd965e, -1px 0px 2px #fd965e, 0px 0px 8px #fd965e;
  color: hsl(42deg 100% 82%);
}

.green {
  background-color: #44ff4e;
}

.yellow {
  background-color: #ffda44;
}

html {
  background: #21252b;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0px;
  margin: 0px;
  font-family: "Saira", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.25em;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
}

body:before {
  content:"";
  background-color: rgb(0 0 0 / 75%);
  position: fixed;
  width: 100%;
  height: 100%;
}

body a {
  text-decoration: none;
}

main {
  z-index: 1;
  height: auto;
  width: 100%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 1000px;
}

header {
  display: flex;
  align-items: center;
  margin: 0 0 3.5rem;
  padding: 0.5rem 1rem;
  font-size: 16px;
  color: white;
  gap: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

content {
  margin-bottom: auto;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 16px;
  color: white;
  gap: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  font-weight: 500;
}

.title:before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-image: url(../assets/dsp.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#game-version {
  display: flex;
  line-height: normal;
  color: #f9ff9c;
  text-shadow: 0px 0px var(--blur_2) var(--lime), 0px 0px var(--blur_1) var(--lime);
}
#last-update {
  display: flex;
  line-height: normal;
  color: #f9ff9c;
  text-shadow: 0px 0px var(--blur_2) var(--lime), 0px 0px var(--blur_1) var(--lime);
}

.info {
  display: flex;
  align-items: center;
  margin: 0px 0;
  padding: 0.5rem 1rem;
  font-size: 16px;
  color: white;
  gap: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.info.hidden {
  display: none;
}

.info.upload {
  flex-direction: column;
  align-items: center;
}

.info button.github {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  color: #24292f;
  background-color: #ebf0f4;
  border-color: #ccd1d5;
  border-color: rgba(31, 35, 40, .15);
  background-image: -moz-linear-gradient(top, #f6f8fa, #ebf0f4 90%);
  background-image: -moz-linear-gradient(top, #f6f8fa, #ebf0f4 90%);
  background-image: linear-gradient(180deg, #f6f8fa, #ebf0f4 90%);
  text-decoration: none;
  height: 22px;
  border-radius: 3px;
  border-width: 1px;
  cursor: pointer;
}

.info button.github:hover {
  background-image: linear-gradient(180deg, #e3e7e7, #d6d9db 90%);
}

.info button svg {
  width: 18px;
}

.info.small {
  font-size: 12px;
}

.file-upload {
  display: flex;
  flex-direction: column;
}

#FileInput {
  font-family: "Saira", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  width: fit-content;
  background-color: #080808;
  border-radius: 3px;
}

select {
  background-color: #0b161c;
  color: #fff;
  border-color: #2e434b;
}

section {
  display: flex;
  margin: 0px 0;
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  gap: 0.5rem;
  justify-content: center;
}

section input {
  background-color: #fff;
  border: none;
  margin-left: 0.5rem;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  width: 50px;
}

.dsp-button {
  justify-self: flex-end;
  color: #fff;
  border: none;
  display: flex;
  min-width: 100px;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 3px 5px;
  cursor: pointer;
  margin: 0 8px;
  outline: none;
  border-radius: 3px;
  background-color: #3698f4;
  font-family: "Saira", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 500;
}
.dsp-button.dark {
  background-color: #004b70;
}

.dsp-button:hover {
  background-color: #4caf50;
}
.dsp-button.dark:hover {
  background-color: #419933;
}

.error {
  display: flex;
  align-items: center;
  margin: 0px 0;
  padding: 10px 15px;
  font-size: 16px;
  color: red;
  font-weight: bolder;
  gap: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

#error-strings {
  background: rgba(38, 50, 56, 0.4);
}

.translation-error {
  display: flex;
  align-items: center;
  background: #c50000;
  margin: 1px 0;
  padding: 0.5rem 1.5rem;
  font-size: 16px;
  color: white;
  font-weight: 500;
  gap: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.string-with-error {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 1rem;
  background-color: rgb(17, 23, 26);
  margin-bottom: 2px;
}

.string-with-error input.text {
  background-color: #e5e5e5;
  border: none;
  border-radius: 3px;
  display: flex;
  line-height: 18px;
  width: 100%;
  color: #000;
}

.string-with-error .missing {
  display: flex;
  gap: 0.25rem;
  padding: 0.25rem;
}
.string-with-error .variable-missing {
  padding: 0 0.5rem;
  background-color: orangered;
  line-height: 20px;
  border-radius: 3px;
}

.string-with-error .source {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.25rem;
}

.string-with-error .source .translation-text {
  padding: 0 0.5rem;
  border-radius: 3px;
  background-color: rgb(0 0 0 / 30%);;
}

.string-with-error .translation {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.25rem;
}
.string-with-error .translation .translation-text {
  background-color: brown;
  padding: 0 0.5rem;
  border-radius: 3px;
}
.string-with-error .key {
  display: flex;
  gap: 0.25rem;
  padding: 0.25rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgb(0 0 0 / 30%);
  box-shadow: inset 0 0 3px rgb(0 0 0 / 30%);
}

::-webkit-scrollbar-thumb {
  background-color: #607d8b;
  outline: 1px solid #2c3139;
  border-radius: 4px;
}

@font-face {
  font-family: 'Saira';
  src: url('https://raw.githack.com/rogerhncdn/rogerhncdn.github.io/master/dsp/fonts/saira/SairaCondensed-Thin.woff2') format('woff2'),
    url('https://raw.githack.com/rogerhncdn/rogerhncdn.github.io/master/dsp/fonts/saira/SairaCondensed-Thin.woff') format('woff'),
    url('https://raw.githack.com/rogerhncdn/rogerhncdn.github.io/master/dsp/fonts/saira/SairaCondensed-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saira';
  src: url('https://raw.githack.com/rogerhncdn/rogerhncdn.github.io/master/dsp/fonts/saira/SairaCondensed-Regular.woff2') format('woff2'),
    url('https://raw.githack.com/rogerhncdn/rogerhncdn.github.io/master/dsp/fonts/saira/SairaCondensed-Regular.woff') format('woff'),
    url('https://raw.githack.com/rogerhncdn/rogerhncdn.github.io/master/dsp/fonts/saira/SairaCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saira';
  src: url('https://raw.githack.com/rogerhncdn/rogerhncdn.github.io/master/dsp/fonts/saira/SairaCondensed-Light.woff2') format('woff2'),
    url('https://raw.githack.com/rogerhncdn/rogerhncdn.github.io/master/dsp/fonts/saira/SairaCondensed-Light.woff') format('woff'),
    url('https://raw.githack.com/rogerhncdn/rogerhncdn.github.io/master/dsp/fonts/saira/SairaCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saira';
  src: url('https://raw.githack.com/rogerhncdn/rogerhncdn.github.io/master/dsp/fonts/saira/SairaCondensed-Medium.woff2') format('woff2'),
    url('https://raw.githack.com/rogerhncdn/rogerhncdn.github.io/master/dsp/fonts/saira/SairaCondensed-Medium.woff') format('woff'),
    url('https://raw.githack.com/rogerhncdn/rogerhncdn.github.io/master/dsp/fonts/saira/SairaCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saira';
  src: url('https://raw.githack.com/rogerhncdn/rogerhncdn.github.io/master/dsp/fonts/saira/SairaCondensed-SemiBold.woff2') format('woff2'),
    url('https://raw.githack.com/rogerhncdn/rogerhncdn.github.io/master/dsp/fonts/saira/SairaCondensed-SemiBold.woff') format('woff'),
    url('https://raw.githack.com/rogerhncdn/rogerhncdn.github.io/master/dsp/fonts/saira/SairaCondensed-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saira';
  src: url('https://raw.githack.com/rogerhncdn/rogerhncdn.github.io/master/dsp/fonts/saira/SairaCondensed-Bold.woff2') format('woff2'),
    url('https://raw.githack.com/rogerhncdn/rogerhncdn.github.io/master/dsp/fonts/saira/SairaCondensed-Bold.woff') format('woff'),
    url('https://raw.githack.com/rogerhncdn/rogerhncdn.github.io/master/dsp/fonts/saira/SairaCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}